@model RiraTest.Core.ViewModels.MyUserViewModel
@{
    ViewData["Title"] = "ویرایش کاربر با کد:"+Model.Id;
}
@section BreadCrumb{
    <div class="text text-black-50 padding-top-14">
        <span class="mt-5 pt-5">مدیریت کاربر ها</span>
        /
        <a href="@Url.Action("Index")">لیست کاربر ها</a>
        /
        <span class="mt-5 pt-5">@ViewData["Title"]</span>
        <hr />
    </div>
}

<div class="row">
    <div class="col-lg-12 animatedParent animateOnce z-index-41">
        <div class="panel panel-default animated fadeInUp">
            <div class="panel-body">
                <form method="post" asp-antiforgery="true">
                    <input asp-for="Id" type="hidden"/>
                    <div class="form-group">
                        <input id="btn_Save" type="submit" value="ذخیره" class="btn  btn-success"/>
                        <a href="@Url.Action("Index")" class="btn  btn-red">انصراف</a>
                    </div>
                    <div class="panel-body">
                        @Html.EditorFor(model => model.FirstName, "FaString")
                        @Html.EditorFor(model => model.LastName, "FaString")
                        @Html.EditorFor(model => model.NationalCode, "FaString")
                        @Html.EditorFor(model => model.DateBirth, "FaString")

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
